In [19]:
import pandas as pd

In [20]:
df=pd.read_csv("data.csv")
df.head()
copy=df.copy()

In [21]:
df.head()

,ID,Ventes_ p1,Demande_P1,Ventes_ p2,Demande_P2,Ventes_ p3,Demande_P3,Ventes_ p4,Demande_P4
0,1,"549,68","603,410313296384","711,68","603,613968311092","479,5","576,976831091183","299,5","152,245833333333"
1,2,"635,4","697,509301900238","1047,44","888,390027776206",872,"1049,26756352766",161,"81,8416666666666"
2,3,"524,52","575,7909647981","1042,44","884,149259675998",883,"1062,50373692078","260,5","132,420833333333"
3,4,"550,84","604,683701382951","1190,78","1009,96436767295",829,"997,526158445444",150,"76,25"
4,5,"55,14","60,5298440459224","27,34","23,188519971933",28,"33,6920777279523",0,0

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1186 entries, 0 to 1185
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          1186 non-null   int64
 1   Ventes_ p1  1186 non-null   object
 2   Demande_P1  1186 non-null   object
 3   Ventes_ p2  1186 non-null   object
 4   Demande_P2  1186 non-null   object
 5   Ventes_ p3  1186 non-null   object
 6   Demande_P3  1186 non-null   object
 7   Ventes_ p4  1185 non-null   object
 8   Demande_P4  1186 non-null   object
dtypes: int64(1), object(8)
memory usage: 83.5+ KB

In [23]:
df.isna().sum()

ID            0
Ventes_ p1    0
Demande_P1    0
Ventes_ p2    0
Demande_P2    0
Ventes_ p3    0
Demande_P3    0
Ventes_ p4    1
Demande_P4    0
dtype: int64

In [24]:
df.dropna(inplace=True)
df.isna().sum()

ID            0
Ventes_ p1    0
Demande_P1    0
Ventes_ p2    0
Demande_P2    0
Ventes_ p3    0
Demande_P3    0
Ventes_ p4    0
Demande_P4    0
dtype: int64

In [25]:
df = df.replace(',', '.', regex=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1185 entries, 0 to 1185
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          1185 non-null   int64
 1   Ventes_ p1  1185 non-null   object
 2   Demande_P1  1185 non-null   object
 3   Ventes_ p2  1185 non-null   object
 4   Demande_P2  1185 non-null   object
 5   Ventes_ p3  1185 non-null   object
 6   Demande_P3  1185 non-null   object
 7   Ventes_ p4  1185 non-null   object
 8   Demande_P4  1185 non-null   object
dtypes: int64(1), object(8)
memory usage: 92.6+ KB

In [26]:
colonnes_a_convertir = ['Ventes_ p1', 'Demande_P1', 'Ventes_ p2','Demande_P2',
                        
                       'Ventes_ p3', 'Demande_P3', 'Ventes_ p4','Demande_P4'
                       ]

In [27]:
df['Ventes_ p1'] = df['Ventes_ p1'].astype(float)

In [28]:
df['Demande_P1'] = df['Demande_P1'].astype(float)

In [29]:
df['Demande_P2'] = df['Demande_P2'].astype(float)

In [30]:
df1 = ['ID','Ventes_ p1', 'Demande_P1']
df1=df[df1]
df1.head()

   ID  Ventes_ p1  Demande_P1
0   1      549.68  603.410313
1   2      635.40  697.509302
2   3      524.52  575.790965
3   4      550.84  604.683701
4   5       55.14   60.529844

In [31]:
df2 = ['ID','Ventes_ p2', 'Demande_P2']
df2=df[df2]
df2.head()

   ID Ventes_ p2   Demande_P2
0   1     711.68   603.613968
1   2    1047.44   888.390028
2   3    1042.44   884.149260
3   4    1190.78  1009.964368
4   5      27.34    23.188520

In [32]:
df2['Ventes_ p2'].unique()

array(['711.68', '1047.44', '1042.44', ..., '995.920', '1\xa0279.540',
       '1\xa0160.900'], dtype=object)

In [33]:
df2['Ventes_ p2'].unique()

array(['711.68', '1047.44', '1042.44', ..., '995.920', '1\xa0279.540',
       '1\xa0160.900'], dtype=object)

In [34]:
df3 = ['ID','Ventes_ p3', 'Demande_P3']
df3=df[df3]
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1185 entries, 0 to 1185
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          1185 non-null   int64
 1   Ventes_ p3  1185 non-null   object
 2   Demande_P3  1185 non-null   object
dtypes: int64(1), object(2)
memory usage: 37.0+ KB

In [49]:
# Supprimer les espaces fins insécables de la colonne 'Ventes_ p3'
df3['Ventes_ p3'] = df3['Ventes_ p3'].str.replace('\u202f', '')

# Convertir la colonne 'Ventes_ p3' en float
df3['Ventes_ p3'] = df3['Ventes_ p3'].astype(float)

/tmp/ipykernel_7487/199260105.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Ventes_ p3'] = df3['Ventes_ p3'].str.replace('\u202f', '')
/tmp/ipykernel_7487/199260105.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Ventes_ p3'] = df3['Ventes_ p3'].astype(float)

In [51]:
df3['Demande_P3']=df3['Demande_P3'].astype(float)

/tmp/ipykernel_7487/1532829761.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Demande_P3']=df3['Demande_P3'].astype(float)

In [52]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1185 entries, 0 to 1185
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          1185 non-null   int64
 1   Ventes_ p3  1185 non-null   float64
 2   Demande_P3  1185 non-null   float64
dtypes: float64(2), int64(1)
memory usage: 37.0 KB

In [35]:
df4 = ['ID','Ventes_ p4', 'Demande_P4']
df4=df[df4]
df4.head()

   ID Ventes_ p4        Demande_P4
0   1      299.5  152.245833333333
1   2        161  81.8416666666666
2   3      260.5  132.420833333333
3   4        150             76.25
4   5          0                 0

In [53]:
df4['Demande_P4']=df4['Demande_P4'].astype(float)

/tmp/ipykernel_7487/1444586868.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['Demande_P4']=df4['Demande_P4'].astype(float)

In [54]:
df4['Ventes_ p4']=df4['Ventes_ p4'].astype(float)

/tmp/ipykernel_7487/1010700515.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['Ventes_ p4']=df4['Ventes_ p4'].astype(float)

In [55]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1185 entries, 0 to 1185
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          1185 non-null   int64
 1   Ventes_ p3  1185 non-null   float64
 2   Demande_P3  1185 non-null   float64
dtypes: float64(2), int64(1)
memory usage: 37.0 KB

In [56]:
y1 = df1['Ventes_ p1']
x1 = df1.drop(['Ventes_ p1'], axis = 1)
y2 = df2['Ventes_ p2']
x2 = df2.drop(['Ventes_ p2'], axis = 1)
y3 = df3['Ventes_ p3']
x3 = df3.drop(['Ventes_ p3'], axis = 1)
y4 = df4['Ventes_ p4']
x4 = df4.drop(['Ventes_ p4'], axis = 1)

In [57]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x1, y1, test_size=0.2,random_state=42)

ValueError: too many values to unpack (expected 4)

In [58]:
from sklearn.linear_model import LinearRegression

In [59]:
lrc=LinearRegression()

In [60]:
y_train = y_train.astype('int')
lrc.fit(x_train, y_train)

LinearRegression()

In [61]:
testing_data_prediction = lrc.predict(x_test)

In [62]:
prediction = lrc.predict([[1,656]])

/home/ngoran/.local/lib/python3.10/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [63]:
prediction

array([585.25520717])

In [48]:
import pickle

filename = 'model.sav'
pickle.dump(lrc, open(filename,'wb'))